@model tp6.Entidades.Cliente

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>

    <h3>¿Está seguro de que quiere borrar este cliente?</h3>
    <div>
        <h4>Cliente</h4>
        <form asp-action="Borrar" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" readonly/>
                @*<span asp-validation-for="Id" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" type="text" class="form-control" value="@Model.Nombre" readonly/>

            </div>
            <div class="form-group">
                <label asp-for="Direccion" class="control-label"></label>
                <input asp-for="Direccion" class="active value="@Model.Direccion" readonly/>

            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" value="@Model.Telefono" readonly/>

            </div>             
                <input type="submit" value="Borrar" class="btn btn-danger" /> |

            </form>
            <div>
                <a asp-action="Index">Volver a listado</a>
            </div>|

</div>
</body>
</html>
