@model tp6.ViewModels.ModificarPedidoViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

    <h4>Pedido</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Modificar" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="NumeroPedido" class="control-label"></label>
                    <input asp-for="NumeroPedido" class="form-control" readonly/>
                    @*<span asp-validation-for="Id" class="text-danger"></span>*@
                </div>
                @*<div class="form-group">
                    <label asp-for="Cliente" class="control-label"></label>
                    <input asp-for="Nombre" type="text" class="form-control" value="@Model.Nombre" />
                    @{Model.Cliente = new Cliente(); }
                    <select asp-for="Cliente.Id">
                        @foreach (var Cliente in Model.listaClientes)
                        {
                            <option value="@Cliente.Id">@Cliente.Nombre</option>
                        }
                    </select>

                </div>*@
                <div class="form-group">
                    <label asp-for="Observacion" class="control-label"></label>
                    <div>
                        <textarea asp-for="Observacion" rows="10" cols="50" class="text-black-50" ></textarea>
                    </div>

                </div>
                <div class="form-group">
                    <label asp-for="EstadoPedido" class="control-label"></label>
                    <select asp-for="EstadoPedido">
                        <option value="1">Recibido</option>
                        <option value="2">Realizandose</option>
                        <option value="3">Entregado</option>
                        <option value="4">Desconocido</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Tipo" class="control-label"></label>
                    <select asp-for="Tipo">
                        <option value="1">Delicado</option>
                        <option value="2">Express</option>
                        <option value="2">Ecologico</option>
                    </select>

                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

</body>
</html>
